# Application Config
APP_URL="MY_APP_URL"

# EmailJS credentials for sending OTP verification codes
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

# Gemini API Key (Server-side)
GEMINI_API_KEY=
